<ul class="js-list">
    {{#each this}}
    <li class="js-list-item">
        <a href="#" class="js-list-link">
            <h2 class="js-list-title">{{name}}</h2>
        </a>
    </li>
    {{/each}}
</ul>